<div id="wdcmssubbanner" class="bottom-to-top hb-animate-element hb-in-viewport">
<div class="container">
<div class="row">
	  <div class="wdcmssubbanner">
<div class="wdsubbanner-img1 wdsubbanner">
<div class="wdright-wdsubbanner-content"><a href="#"><img class="image" title="subbanner-01" src="image/catalog/SubBanner-01.jpg" alt="subbanner-01"> </a>
<div class="subbanner-content left">
<div class="title">У нас открылся новый магазин!</div>
<div class="desc">Ждем в гости по адресу: г. Москва, Окружной пр., 12</div>
<div class="shop-now btn"><a target="_blank" href="https://yandex.ru/maps/-/CCUJFCr7OA" class="btn-secondary">Посмотреть на карте</a></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>